/* globle style */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #34e5eb;
}
/* globle style */

/* homepage heading */
.heading {
  font-size: 3rem;
  font-family: "Bonheur Royale", cursive;
  margin-bottom: 100px;
}
.homepage {
  position: relative;
  text-align: center;
  top: 300px;
}
/* homepage heading */

/* button component style */
.button {
  text-decoration: none;

  margin: 100px;
  padding: 13px 48px;
  border-radius: 20px;
  background-color: #34e5eb;
  box-shadow: 0px 4px 10px rgba(135, 167, 171, 0.5);
  font-size: 25px;
  color: white;
  font-weight: 500;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  border: 5px solid #fff;
}
/* button component style */

/* Schudeal Table style*/
.scheduleform-title {
  font-size: 2rem;
  margin: 10px 0 20px 0;
  text-align: center;
}

li {
  list-style-type: none;
  margin-bottom: 40px;
}

label {
  margin-right: 20px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  background-color: #fff;
}
.goal-container {
  position: relative;
  margin: 0 300px;
  padding-bottom: 50px;
  background-color: #fff;
}

.activity-btn {
  position: absolute;
  right: 20px;
  margin: 0 10px;
  padding: 5px;
}
.activity-btn:hover {
  background-color: lightgray;
}
.activity-btn-add {
  position: absolute;
  right: 20px;
  margin: 0 10px 5px 0;
  width: 65px;
  height: 38px;
  bottom: 75px;
}
.activity-btn-add:hover {
  background-color: lightgray;
}
.iteration-all {
  margin-top: 40px;
}
.iteration-all h3 {
  font-weight: bolder;
  margin-left: 20px;
}
/* Schudeal Table style*/

/* Utilities */
.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.7fr;
}
.card {
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 20px 30px 10px rgba(0, 0, 0, 0.3);
}
div .card {
  margin: 0 auto;
  text-align: center;
}
h3 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.quesiton {
  margin-bottom: 40px;
}
