.button{
    padding: 13px 48px;
  border-radius: 24px;
  background-color: #0076ff;
  box-shadow: 0px 4px 10px rgba(135, 167, 171, 0.5);
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  border: 3px solid #fff;
}

.wrapper {
  text-align: center;
}

.red {
  background-color: #ff4059;
}

.black {
  background-color: #2e3434;
}
