/* globle style */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #34e5eb;
  font-family: "Bonheur Royale", cursive;
}
/* globle style */

/* homepage heading */
.heading {
  font-size: 3rem;
}
.homepage {
  position: relative;
  text-align: center;
  top: 300px;
}
/* homepage heading */

/* button component style */
.button {
  margin: 70px;
  padding: 13px 48px;
  border-radius: 24px;
  background-color: lightblue;
  box-shadow: 0px 4px 10px rgba(135, 167, 171, 0.5);
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  border: 3px solid #fff;
}
/* button component style */
